# This is an example config. Copy this file to .env and add your own configuration.
ACCOUNT_NUMBER = "123456789012"
SAGEMAKER_ROLE = "AmazonSageMaker-ExecutionRole-20240101T000000"
REGION = "eu-central-1"
# SAGEMAKER_BUCKET = "sagemaker-on-rust"